* {
    font-family: 'Inter';
    color: red;
}

.inter-300 {
    font-weight: 300;
}

.inter-400 {
    font-weight: 400;
}

.inter-500 {
    font-weight: 500;
}

.inter-600 {
    font-weight: 600;
}

.inter-700 {
    font-weight: 700;
}

.inter-900 {
    font-weight: 900;
}